<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <form ng-submit="vm.submit()" class="form-horizontal" role="form">
    <fieldset>
      <div>
        <legend class="">Вход</legend>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">Логин</label>
        <div class="col-sm-9">
          <input ng-model="vm.login" required ="text" value="" class="input-xlarge">
          <label class="control-label">@</label>
          <input ng-model="vm.domain" required type="text" value="" class="input-xlarge" placeholder="Введите домен">
          <a href="#/register">Регистрация</a>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">Пароль</label>
        <div class="col-sm-9">
          <input ng-model="vm.password" required type="password" value="" class="input-xlarge">
          <a href="#">Забыли пароль?</a>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
          <button type="submit" class="btn btn-primary btn-block">Войти</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
