<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#">
        <span class="glyphicon glyphicon-home"></span> Septagon
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Главная</a></li>
        <li ui-sref-active="active"><a ui-sref="register">Регистрация</a></li>
        <li ui-sref-active="active"><a ui-sref="login">Вход</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>-->
    </div>
  </div>
</nav>
