<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <form ng-submit="vm.submit()" class="form-horizontal" role="form" name="registrationForm">
    <div>
      <legend class="">Регистрация</legend>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Логин</label>
      <div class="col-sm-9">
        <input name="login"  maxlength="30" ng-model="vm.login" required ="text" value="" class="input-xlarge" pattern="[\w.]{1,30}">
        <span ng-hide="registrationForm.login.$valid||registrationForm.login.$pristine">Логин содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Домен</label>
      <div class="col-sm-9">
        <input name="domain"  maxlength="30" ng-model="vm.domain" required type="text" value="" class="input-xlarge" pattern="[A-Za-z0-9]+">
        <span ng-hide="registrationForm.domain.$valid||registrationForm.domain.$pristine">Домен содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Пароль</label>
      <div class="col-sm-9">
        <input maxlength="50" name="password" ng-model="vm.password" required type="password" value="" class="input-xlarge" pattern="^.\S+">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Подтвердите пароль</label>
      <div class="col-sm-9">
        <input maxlength="50" name="repeatedPassword" ng-model="vm.repeatedPassword" required type="password" value="" class="input-xlarge" pattern="^.\S+">
        <span ng-hide="vm.repeatedPassword == vm.password||registrationForm.repeatedPassword.$pristine">Введенные пароли не совпадают</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Email</label>
      <div class="col-sm-9">
        <input name="email" ng-model="vm.email" placeholder="mr.smith@example.com" required type="text" value="" class="input-xlarge" pattern="^(([^<>()\[\]\\.,;:\s@\u0022]+(\.[^<>()\[\]\\.,;:\s@\u0022]+)*)|(\u0022.+\u0022))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">
        <span ng-hide="registrationForm.email.$valid||registrationForm.email.$pristine">E-mail содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Фамилия</label>
      <div class="col-sm-9">
        <input maxlength="50" name="surname" ng-model="vm.surname" required type="text" value="" class="input-xlarge" pattern="^[А-Яа-яЁё\s-a-zA-z]+$">
        <span ng-hide="registrationForm.surname.$valid||registrationForm.surname.$pristine">Фамилия содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Имя</label>
      <div class="col-sm-9">
        <input maxlength="50" name="userName" ng-model="vm.name" required type="text" value="" class="input-xlarge" pattern="^[А-Яа-яЁё\s-a-zA-z]+$">
        <span ng-hide="registrationForm.userName.$valid||registrationForm.userName.$pristine">Имя содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Отчество</label>
      <div class="col-sm-9">
        <input maxlength="50" name="patronymic" ng-model="vm.patronymic" type="text" value="" class="input-xlarge" pattern="^[А-Яа-яЁё\s-a-zA-z]+$">
        <span ng-hide="registrationForm.patronymic.$valid||registrationForm.patronymic.$pristine">Отчество содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Местоположение</label>
      <div class="col-sm-9">
        <input ng-model="vm.location" type="text" value="" class="input-xlarge">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Часовой пояс</label>
      <div class="col-sm-9">
        <input ng-model="vm.time_zone" type="text" value="" class="input-xlarge">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Телефон</label>
      <div class="col-sm-9">
        <input name="tel" ng-model="vm.phone" type="tel" value="" class="input-xlarge" pattern="[0-9+()\-*#\s]{1,20}">
        <span ng-hide="registrationForm.tel.$valid||registrationForm.tel.$pristine">Телефон содержит недопустимые символы</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-1">
        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
      </div>
    </div>
  </form>
  <form ng-submit="vm.confirmEmail()" class="form-horizontal" role="form">
    <div i>
      <legend class="">Подтвердить почту (руками вставить код из письма)</legend>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">GUID</label>
      <div class="col-sm-9">
        <input ng-model="vm.guid" required ="text" value="" class="input-xlarge">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-1">
        <button type="submit" class="btn btn-primary btn-block">Подтвердить</button>
      </div>
    </div>
  </form>
</div>
