.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
input.ng-invalid {
  outline-color: red;
  border: 2px solid red;
}
input.ng-valid {
  outline-color: green;
  border: 2px solid green;
}
input.ng-untouched {
  border: 1px solid black;
}
input.ng-empty {
  border: 1px solid black;
}
.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

#form-container
{
  background:#2f2f2f;
  margin-bottom:20px;
  border-radius:5px;
}

#form-container .page-header
{
  background:#151515;
  margin:0;
  padding:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

#status-buttons
{  }
#status-buttons a
{
  color:#FFF;
  display:inline-block;
  font-size:12px;
  margin-right:10px;
  text-align:center;
  text-transform:uppercase;
}

#status-buttons a:hover
{
  text-decoration:none;
}

#status-buttons span
{ background:#080808;
  display:block;
  height:30px;
  margin:0 auto 10px;
  padding-top:5px;
  width:30px;
  border-radius:50%;
}


#status-buttons a.active span
{
  background:#00BC8C;
}

.classifier label {
  color: white;
}

.classifier legend {
  color: white;
}

.classifier h2 {
  color: white;
}

#classifier-form
{
  position:relative;
  min-height:300px;
  overflow:hidden;
  padding:30px;
}


#form-views.ng-enter,
#form-views.ng-leave
{ position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

#form-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

#form-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

@keyframes slideOutLeft {
  to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-200%); }
}

@keyframes slideInRight {
  from 	{ transform:translateX(200%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(200%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(200%); }
  to 		{ -webkit-transform: translateX(0); }
}
